/* Dit programma wordt door index.html voor de voorgeving gebruikt.
	Program	: index.css
	Datum		: 01-07-2016 
*/	


/****** CSS m.b.t. Query formulieren **********/
div.container {
    display: block;
}

div.kopRegel {
    
    display: inline;
    float: left;   
}

/*#kandidaat {
    display: inline;
      float: left;
margin-left:17%;
}

#functie {
    display: inline;
        float: left;
    margin-left: 8%;
}*/

#regio {
    display: inline;
}

#overzichtTabel {
        margin-bottom: -25px;/* wat ruimte creeren tussen het formulier en het volgende DOM element*/
    }
table#edit {
       /* margin-left: -180px; */ 
        background-color:lightgrey;
        color:black;
        height: 100%;
    }  
#edit th {/*opmaak voor de Tabel Header van tabel uit overzicht userFunction.php */
    color:white;
    font-weight: bold;
    background-color: #4d2600;
}

#edit td, #edit th {
       /* border: 1px solid #98bf21;*/
        border: 1px solid #98bf21;
        padding: 3px 7px 2px 7px;
        font-weight: normal;
        height: 52px; 
}
#edit h3 {
        font-size: 14px;
        margin: 0px; 
} 
/****** Einde CSS m.b.t. Query formulieren *******/

/***** CSS m.b.t. de tabel in QueryHTML.php *****/
h1.ajaxKandidaat {
    text-align: center;
    border-bottom: 3px solid #cc9900;
    color: black;
    /*color: #996600;*/
    font-size: 30px;
}
table.ajax, th , td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}
table.ajax tr:nth-child(odd) {
   /* background-color: #f1f1f1;*/
    background-color: lightgoldenrodyellow;
}
table.ajax tr:nth-child(even) {
    /*background-color: #ffffff;*/
    background-color: yellow;
}

/***** CSS m.b.t. de functie dropdown menu *******/
/*.functie {
    background-color : #e5a7a7;
}

.functieOmschrijving {
    font-size : 9px;
}

.functieForm {
    margin : 10px;
    padding : 10px;
}
.andereFunctie {
    background-color : #f2d5d5;
    
}

#andereFuncties {
    margin-bottom : 100px;
}*/
/***** Einde CSS m.b.t. functie dropdown menu ******/


div#funcReg#functie {
    display: inline;
    float:left;
    margin-left: 20%;
    margin-bottom:15px;
    height:25px;
    width: 140px;
}

div#funcReg #regio{
    display: inline;
    float: right;
    margin-right:25%;
    margin-bottom:15px;
    height:20px;
    width: 140px;
}

#id01 {
    margin-left:5%;
    margin : 2% 15px;
}

#functieRegLabel {    
    display: inline;
    float: left;
    margin-left: 35%;
}

#labelFunctie {
    margin-left:15px;
}
#labelRegio {
    margin-left:105px;
}

#subOpslaan {
  float:left;
  margin-left:40%;
}

#opslaan {
    margin-left : 50px;
}

/***** Einde CSS m.b.t. de tabel in QueryHTML.php ****/


*{
	padding:0;
	margin :0;
}

.profkop, .naarProfiel {
    text-align: center;
}


h3.profiel {
    margin-top : 2px;
    text-align: center;
    color: #996600;
}

h1.profiel {
    margin-top : 2px;
    margin-bottom : 30px;
    color: #996600;
}

ul.prof li {
    padding:15px;
    font-size : 18px;
    color:purple;
   list-style-type:none;
}

h3.pf {
    color:#663d00;
    text-decoration:underline;
}

aside.meer {
   /* text-align: center;*/
    margin-left: 25%;
    background-color:#d2ff4d;
    width:50%;
}

h2.welkom {
    color:#cc7a00;
    text-decoration: underline;
    text-align: center;
}

h1 {
	text-align : center;
}
article{
	border : 3px solid black;
}
.page-artical{
	border	:	3px solid green;
}
/***Pesoonlijke gegevens***/
#persoonlijke-gegevens{
	margin-bottom : 2px;
	
	width : 100%;
	/* height : 450px; */
}
#personalia{
	float :left;
	padding : 10px 10px;
	/* margin-left: 10px; */
	width	:	50%;
/* 	height	:	325px; */
	border	:	1px solid black;
	font-size : 12px;
	margin-bottom : 25px;
}

#postcode #email #salaris {
    width: 70%;
}

/* reisafstand  */

/*#inlogMelding {
    width : 50%;
    margin-left : center;
    
}*/
.afstand {

    margin-bottom: -40px;
}

#motiv {
    background-color: #f2ffcc;
    color:black;
}

#sociale_media{
        float : right;
        /*margin-top : 10px;*/
        width : 40%;
        /* heigth : 325px; */
        border : 1px solid black;
        padding :-10px;
       /* margin-left : -50px;*/
}

#cvInzien {
    background-color: #ffffcc;   
}

.cvText {
    font-size: 20px;
    color:black;
}

#sociaal_foto, #cv-upload{
	
        float: right;
        margin-left : 25px;
        margin-bottom: 25px;
        width : 45%;
}

#fotoMelding{   
        font-size: 10px;
        color : red;
} 

#foto {
        margin-left : 6px;
        float : left;
        margin-bottom : 25px;
}

#cv {
        margin-left : 1px;
        margin-bottom : 25px;
        /*width: 400px;*/
        float : left;
}

.objP {
    color : red;
}

#myImg {
    float: left;
    width: 125px;
    height: 100px;
}

#myCV {
    float : left;
    width : 100px;
    height : 100px;
}

.subKopRechts {
    float: right;
}


.kop{
	font-size : 11px;
	color : blue;
	font-weight : bold;
	
}

.msg { /* kleur van het bericht in de queries in queryFunctions.php in de map query in modules*/
    color: red;
}

.operator {

    float: left;
    text-align: center;
}

#functies, #regios{
	clear : both;
                float : left;
	width : 100%;
	padding : 5px;
	border : 1px solid black;
	margin-bottom : 20px;
	font-size : 12px;
	
}

#mobielFinUitkering{
	/* margin-bottom : 25px;
	 */
        clear : both;
	width : 100%;
	height : 200px;
        margin-bottom : 10px;
	/* border : 1px solid black; */
}
#mobielFinancieel{
	float : left;
	padding : 10px 5px;
	/* margin: 10px; */
	width	:	45%;
/* 	height	:	325px; */
	border	:	1px solid black;
	;
	font-size : 12px;
} 

#sectorwerk, #sectorGewenst{
	float : right;
	padding : 10px 5px;
	width : 50%;
	margin-bottom : 25px;
	border : 1px solid black;
}

#sector{
	/* border : 1px solid black; */
	margin-bottom : 10px;
	
}

#bedrijf{
	/* border : 1px solid black; */
	
	
}

#regio{
	clear : both;
	width : 100%;
                height : 250px;
                /*padding: 25px 0 80px 15px;*/ 
                /*padding-top: 15px;
	padding-bottom : 80px;
                padding-left: 15px;*/
       
	border : 1px solid black;
	margin-top : 5px;
                margin-bottom : 25px;
	font-size : 12px;
	
}

label {
	font-size : small;
	padding-left : 15px;
}


.extra1 {
     padding: 15px;
    margin-left: 20px;
}

.checkbox-inline {
    padding: 15px;
    margin-left: 20px;
}

.checkbox {
	float :right;
}

#sociale-links{
	float		:	right;
	width		:	300px;
	height	:	220px;
	border : 3px solid yellow;	
}
#sociale-links #media{
	margin-top: 65px;
	width		: 285px;
	padding	: 5px 0 10px 10px;
	border	: 1px solid black;
	font-family	: verdana;
}
#media legend{
	color: #999;
	font-weight: bold;
	padding: 4px 6px 4px 0;
	margin: 0 0 5px 0;
	font-size: 0.8em;
}

#media label{
	width	:	90px;
	float	: 	left;
	padding: 2px 0 0 0;
}
#media	input{
	margin	: 2px 0 7px 0;
	padding	: 1px 3px 2px 3px; /*1023*/
	border	: 1px solid #000;
	background-color: transparent;
	width		: 200px;
}

#auto{
    margin-bottom : 40px;
}

#rijbewijs {
    margin-bottom : 30px;
}
.ervaringSlider {
	display : none;
        margin-bottom : 10px;
}



.functieVak1 {
    width : 40%;
    
    float : left;
    margin-right : 50px;
    
}

.functieVak2 {
    width : 40%;
    float : left;
    
    /*border : 1px solid black;*/
}

/***Aanvullende voorzieningen***/
.voorziening{
	width		:	800px;
	height	:	200px;
	border	: 3px solid green;
}
#mobiliteit #mobiel{
	float		: left;
	width		: 300px;
	padding	: 5px 0 10px 10px;
	border	: 1px solid black;
	font-family	: verdana;
}
#mobiliteit legend{
	color: #999;
	font-weight: bold;
	padding: 4px 6px 4px 0;
	margin: 0 0 5px 0;
	font-size: 0.8em;
}

#mobiliteit label{
	width	:	90px;
	float	: 	left;
	padding: 2px 0 0 0;
}
#mobiliteit	input{
	margin	: 2px 0 7px 0;
	padding	: 1px 3px 2px 3px; /*1023*/
	border	: 1px solid #000;
	background-color: transparent;
	width		: 200px;
}

#aanvulling #tekstVeld{
	float		:	right;
	width 	:	400px;
	height	:	180px;
}


/***De grootte van het bedrijf***/
#bedrijf-grootte{
	width		:	800px;
	height	:	 50px;
	border	:	3px solid green;
}
/***Gewenste functie plaatsen***/

.plaatspref {
    margin-top: 10px;
    
    clear : both;
    
}


/***Opmerkingen***/
#opmerkingSection{
	width : 100%;
	/*margin-top : 10px;*/
	margin-bottom : 26px;
/* 	border : 1px solid black; */
}

#opslaan{
	margin-top : 50px;
	float : right;
}

#submit {
    margin-right : 5px;
    width:120px;
}

#inlogMelding {
    width : 80%;
    margin-left : center;
    font-size : 18px;
    padding : 5px;
}

/* CSS m.b.t.  de introtext (homepage))in tabel pages met page_nav_id=12 */

#introtext {
    float: none;
    height: 250px;
    width: 48%;
    margin-top:10%;
    margin-left: 26%;
    margin-right: 26%;
    font-style: normal;
    font-size: 17px;
    font-family: serif;
    font-weight: normal;
    color: black;
    padding: 10px;
    background-color: #ffffcc;
   
}


ul#adminapp li { 
    list-style: none;
    margin-left: 10px;
}

#introHead {
    font-size:200%;
    font-style: oblique;
    color: #ff9933;
    text-align: center;
    padding-bottom: 15px;
}
/* einde voor de introtext in tabel pages met page_nav_id=12 */

body{
    text-align: center; /* toegevoegd op do 6 okt 2016 */
    min-width: 1300px; /* toegevoegd op do 6 okt 2016 */
    margin-top: 0.5%;
   /* margin-left: 10px;
    margin-right: 10px;*/
    /*background-color: #e6e6e6;*/	/* border:	2px solid red; */	
}

/*beinvloed de header */
#contentwrapper {
    width: 1200px;
    margin: 0 auto;   
    text-align: left;           
}


/*#contentwrapper {
   min-height: 100%;
   height: auto !important;
   height: 100%;
   margin: 0 auto -135px;
}*/

/********* CSS m.b.t. inlog/uitlog blok en de navigatie balk***********/
ul#navItems li a:active { 
    background-color: red;
}

#navBalk {
    background-color: #003366; /* kleur van de navigatiebalk */
    /*background-color: black; */
    opacity: 0.9;
    height: 75px;
}

ul#navItems li a {
    margin-left: 20px;
    font-size: 90%;
    color: white;
}


#inuitBlok {
    margin-top: 1%;
}

.reg {
    color: #ff9900;
}

tr.login {
     margin: 25px;
}

section#loginblok, section#aanmeldblok {
    margin-left: 35%;
}

/*section#loginblok h3 {  
   color: purple;
}*/

h3.hinlog {
    margin-right: 45%;
    color: purple;
}

table#login {  
    
    color: black;
}

input#login {
    background-color: #e6e6ff;/* kleur van de inlog/uitlog knop */
    border: 1px solid #996600;
    color: #777;
    padding: 5px;
    padding-bottom: -20px;
    margin-right: 10px;
}

div#inlognaam {
    margin-top: -15px;
    margin-right: -15px;
}

a.regsinds {
   /* color: #777769;*/
   color: white;
    text-decoration: none;
    font-size: 12px;
}


a.inlognm {
    /* color: #777769;*/
    /* font-size: 20px;*/
    text-decoration: none;
    color: white;
}

.button{
	background-color: transparent;
	color: #000;
	font-weight: bold;
	width: auto;
	margin: 0 5px 0px 0;
	padding: 1px 5px 2px 5px;
	cursor: pointer;
	float: right;              
}

div#navbarpullright {
    height: 52px;
}
a#brand {
    padding: 0px 0px;
    margin: 0px 20px 0px -15px;
}
/********* Einde CSS m.b.t. inlog/uitlog blok en de navigatie balk *********/

/********* CSS m.b.t. de footer **********/

.merk {
	
    /*color: orange;*/
    color: black;
    font-size:110%;
    text-align: center;
    clear: both;
    padding-top: 25px;
    margin-bottom: 25px;
}

.lijn {
    margin-left:2%;
    margin-right: 2%;
    color: black;
}

#footer {
     width: 100%;
    /*float: left;
    display: inline;*/ 
    margin-left: 15px;  
    margin-top:80px;
    height: 25px;
    font-size: 14px;
    background-color: #f5f5f0;
    /*background-color: rgb(60, 60, 60);*/
}


#footer, .push {
  width: 98%;
  height: 75px;
  clear: both;
}

ul#footerNav li {
	float: left;
	display: inline;
	margin-left:20%;             
	padding-top: 15px;
	color:yellow;
}

.adres1 {
    margin-left: 250px;
    margin-bottom: 15px;
}

#ftr-xperiment {
     float: left;
    display: inline;
}


.adres {
    float: left;
    font-weight: bold;
    color: black;
}

.adresR {
   /*color: #66a3ff;*/
   color: #5c5c3d;
}


/****** CSS m.b.t. Query formulieren **********/
#overzichtTabel {
        margin-bottom: -25px;/* wat ruimte creeren tussen het formulier en het volgende DOM element*/
    }
table#edit {
       /* margin-left: -180px; */ 
        background-color:lightgrey;
        color:black;
        height: 100%;
    }  
#edit th {/*opmaak voor de Tabel Header van tabel uit overzicht userFunction.php */
    color:white;
    font-weight: bold;
    background-color: #4d2600;
}

#edit td, #edit th {
       /* border: 1px solid #98bf21;*/
        border: 1px solid #98bf21;
        padding: 3px 7px 2px 7px;
        font-weight: normal;
        height: 52px; 
}
#edit h3 {
        font-size: 14px;
        margin: 0px; 
} 
/****** Einde CSS m.b.t. Query formulieren *******/
